.footer{
    text-align: center;
    padding: 1rem 0;
    background-color: var(--background-color);
    color: var(--font-color);
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--button-bg-color);
    width:100%;
}